    body {
        background-color: antiquewhite;
        overflow-x: hidden;
    }
    
    .hero-section {
      position: relative;
      height: 70vh;
      background-image: url("travel.jpg"); 
      background-size: cover;
      background-position: center;
      background-attachment: fixed; 
      padding: 100px 0;
      text-align: center;
      color: cornflowerblue;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hero-section h1 {
      font-size: 4rem;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .navbar {
      background-color: lightcoral;
      font-size: 30px;
    }

    .brown-heading{
        color: chocolate;
        text-align: center; 
      }


